.input_content
{
    transition: .5s;
}

.input_label
{
    font-size: 25px;
    font-weight: 500;
}

.input_small_label
{
    font-size: 15px;
    color: #333;
    padding: 0 5px;
}

.input_box_input
{
    padding: 5px 20px;
    min-width: 200px;
    width: 300px;
    max-width: 500px;
}

.input_input
{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #444;
    margin-bottom: 30px;
    border: none;
    letter-spacing: 1px;
    border-bottom: 1px solid #ffffff;
    outline: none;
    background: transparent;
    transition: .6s;
}

.input_input:focus
{
    border-bottom: 1px solid #2c3e50;
}